@model MindBubbles.Models.BubblesList

@{
    ViewBag.Title = "BubbleCreate";
}
<link href="@Url.Content("~/Styles/Bubbles.css")" rel="stylesheet" type="text/css" />


<h2>BubbleCreate</h2>
<div class="row">
    @foreach (var item in       Model.AllBubbleData)
    {
        <span class="column"> @item.PlainTextInCell</span>
    }
</div>
<a class="btn btn-default back-to-input-btn" href="@Url.Action("InputSource", "BubbleCreate")"> Back to input</a>
