@model MindBubbles.Models.BubbleCreateModel

<link href="@Url.Content("~/Styles/Bubbles.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "BubbleCreate";
}


<div class="col-lg-12">
    @foreach (var item in Model.BaseStringList)
    {
        <span id="bubbles"> @item</span>
    }
</div>
<a class="btn btn-default back-to-input-btn" href="@Url.Action("InputSource", "BubbleCreate")"> Back to input</a>
