#bubbles {
    color: red;
    border: solid 1px;
    width: 16.6%;

}
.back-to-input-btn{
    margin-top: 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 29%;
    margin: 2% 0 0 0;
}

.line-column {
    float: left;
    border-right: 1px solid;
    margin-left: 4%;
    height:100px;
    z-index:5;

}
.column-heading {
    float: left;
    width: 31%;
    margin: 0 1% 0 1%;
    padding: 16px 0 16px 0;
    text-align: center;
    border: solid 1px;
    border-color: #b2ff59;
    border-radius: 3px;
    display: inline-block;
    word-wrap: break-word;
    font-family: "Calibri Light", sans-serif;
    font-weight: 600;
    background-color: lightgreen;
    font-size: 18px;
}
.cell {
    padding: 8px 0 8px 0;
    margin: 1% 0% 1% 0%;
    text-align: center;
    border: solid 1.5px;
    border-color: #b2ff59;
    border-radius: 5px;
    display: inline-block;
    word-wrap: break-word;
    font-family: "Calibri Light", sans-serif;
    font-weight: lighter;
    width: 90%;
}
  

.line , .line2, .line3 {
    
    float: left;
    width: 10%;
    border-bottom: 1px solid;
}


.inner-line {
    position: relative;
}

* {
    box-sizing: border-box;
}