
.back-to-input-btn {
    margin-top: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    margin: 0% 1% 0 0;
    width: 100%;
}
.column2 {
    margin-left:30%;
}

.column-parent {
    display: inline-block;
    vertical-align: top;
}

.line-column {
    float: left;
    border-right: 1px solid;
    height: 100px;
    margin-left: 12%;
    border-color: #a9d18e;
}
.line-column2 {
    float: left;
    border-right: 1px solid;
    height: 100px;
    margin-left: 12%;
    border-color: #a9d18e;
}

.column-heading { /*Width shouldn't be changed under any circumstances*/
    float: left;
    margin: 0 1% 0 1%;
    width: 90%;
    padding: 8px 0 8px 0;
    text-align: center;
    height: 5em;
    vertical-align: middle;
    border: solid 1px;
    border-color: #a9d18e;
    border-radius: 8px;
    word-wrap: break-word;
    font-family: "Calibri Light", sans-serif;
    font-weight: 300;
    background-color: #a9d18e;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
}

.cell {
    padding: 4px 2px 4px 2px;
    margin: 0 0% 0% 0%;
    text-align: left;
    border: solid 1px;
    border-color: #a9d18e;
    border-radius: 5px;
    display: inline-block;
    word-wrap: break-word;
    font-family: "Calibri Light", sans-serif;
    font-weight: lighter;
    width: 75%;
}
.cell2 {
    padding: 4px 2px 4px 2px;
    margin: 12px 0% 1% 0%;
    text-align: left;
    border: solid 1px;
    border-color: #a9d18e;
    border-radius: 5px;
    display: inline-block;
    word-wrap: break-word;
    font-family: "Calibri Light", sans-serif;
    font-weight: lighter;
    width: 75%;
}



.line {
    float: left;
    width: 8%;
    border-bottom: 1px solid;
    border-color: #a9d18e;

}
.line2 {
    float: left;
    width: 12%;
    border-bottom: 1px solid;
    border-color: #a9d18e;

}


.inner-line {
    position: relative;
    margin: 12px 0 0 0;
}
.inner-line2 {
    position: relative;
}

* {
    box-sizing: border-box;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}

.color-picker-blue, .color-picker-green, .color-picker-red {
    height: 1em;
    width: 1em;
    display: inline-block;
    float: left;
    margin: 8px 4px 8px 4px;
    
}

.color-picker-red {
    background-color: #e85570;
}
.color-picker-blue {
    background-color: #5b9bd5;
}
.color-picker-green {
    background-color: #a9d18e;
}

.color-pickers {
    width: 100%;
    float: left;
    margin-bottom:8px;
}

.bubble-container:after {
    content: "";
    display: table;
    clear: both;
}
